html, body {
    height: 100%;
}
body {
    margin: 0; padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343944;
    background-position: center;
    background-size: cover;
}
.frame {
    min-width: 810px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.titlebar {
    height: 28px;
    line-height: 28px;
    text-align: left;
    font-family: sans-serif;
    background: #E8E8E8;
    color: #4E4E4E;
}
.titlebar .circle {
    margin-left: 5px;
    height: 16px; width: 16px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    vertical-align: middle;
    border-radius: 999999px;
}
.red {
    background: #FC605B;
}
.yellow {
    background: #FDBC40;
}
.green {
    background: #33C748;
}
.title {
    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 0; right: 0; left: 0;
    text-align: center;
}
.terminaljs {
    margin: 0; padding: 20px;
    display:inline-block;
    font-family: Courier, monospace;
    text-align: left;
    background: black;
    color: white;
}
.terminaljs:focus {
    outline: none;
}
